<div class="badges clearfix">
  <div class="header clearfix">
    <div class="info">
      <h2>Badges</h2>
    </div>
    <div class="notes">
      This is an index of the badges available.  
    </div>
  </div>
  <ul class="clearfix">
    <%= render @badges %>
  </ul>
</div>

